<!DOCTYPE html>
<html>
<center>
<body bgcolor="#00BFFF" >
<h2 style = "text-align: center;color:rgb(255, 255, 0);">บัญชี รายรับ - รายจ่าย</h2>

<form action="{% url 'account:operand'%}" method="post">
{% csrf_token %}

    ประเภท:
    <input type="radio" name="paylist" value="income"> รายรับ
    <input type="radio" name="paylist" value="expense"> รายจ่าย<br><br>
    รายการ:
    <input type="text" name="data">
    จำนวน:
    <input type="number" name="value" step="any" min="0">
    <input type="date" name="date">
    <input class="button" type="submit">

</form>

<br><br><a href = "{% url 'account:history' %}">ดูประวัติรายรับ-รายจ่าย</a>
<br><a href = "{% url 'account:index' %}">กลับสู่หน้าหลัก</a>
</form>
</body>
</center>
</html>
